/* Header
*===================*/

#section0 {
	background-size:cover;
}
.logo-holder {
	width:100%; 
	height:100%; 
}

/* What page? */
#section0 {
	background:url(../img/bg/central-worship.jpg);
}
.worship .logo-holder {
	background:url(../img/logos/worship-logo.png) center center no-repeat;
}