/* Set-up
/* ======================*/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	overflow:hidden;
}
@font-face{ 
	font-family: 'londrina';
	src: url('../fonts/LondrinaSolid-Regular-webfont.eot');
	src: url('../fonts/LondrinaSolid-Regular-webfont.eot?iefix') format('eot'),
	     url('../fonts/LondrinaSolid-Regular-webfont.woff') format('woff'),
	     url('../fonts/LondrinaSolid-Regular-webfont.ttf') format('truetype'),
	     url('../fonts/LondrinaSolid-Regular-webfont.svg#webfont') format('svg');
}
body {
	font-family: 'londrina', Arial, sans-serif;
	color: #000;
	font-weight:bold;
	font-size:32px;
}
a {
	color:black;
	text-decoration:none;
	background:white;
	padding:2px;
}

/* NAV
/* ======================*/
#hovers{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 10;
	pointer-events:none;
}
.nav {
	position:fixed;
	z-index:100;
	padding:5px;
}

.nav.top.dropdown{
	z-index:102;
}

.nav.left{
	left:0;
}

.nav.right{
	right:0;
}

.nav.top{
	top:0;
}

.nav.bottom{
	bottom:0;
}

.nav.top.dropdown a,
.nav.bottom.dropdown a{
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	float:left;
	clear:both;
	display:none;
}

.nav.top.right.dropdown a,
.nav.bottom.right.dropdown a {
	float: right;
}

.nav.top.dropdown:hover b{
	background:#38ab4a;
	color:white;
}

.nav.top.dropdown:hover a,
.nav.bottom.dropdown:hover a{
	display:inline-block;
	background:white;
	color:#000;
	opacity:1;
}

.nav.top.dropdown a:hover,
.nav.bottom.dropdown a:hover {
	color:white;
	background:#38ab4a;
}
.nav.top.dropdown a.families:hover,
.nav.bottom.dropdown a.families:hover {
	color: #ce684b;
}
.nav.top.dropdown a.prayer:hover,
.nav.bottom.dropdown a.prayer:hover {
	color: #00b1e8;
}
.nav.top.dropdown a.tech:hover,
.nav.bottom.dropdown a.tech:hover {
	color: #88449d;
}
.nav.top.dropdown a.production:hover,
.nav.bottom.dropdown a.production:hover {
	color: #0099a2;
}
.nav.top.dropdown a.welcome:hover,
.nav.bottom.dropdown a.welcome:hover {
	color: #fdc216;
}
.nav.top.dropdown a.worship:hover,
.nav.bottom.dropdown a.worship:hover {
	color: #e30083;
}

.nav.top.left a:hover:after,
.nav.bottom.left a:hover:after {
	content: " << " attr(data);
	border-right:1px solid black;
	padding-right:2px;
	padding-left:4px;
	font-weight:normal;
	font-size:22px;
	vertical-align:middle;
}

.nav.top.right a:hover:before,
.nav.bottom.right a:hover:before {
	content: attr(data) " >> ";
	border-right:1px solid black;
	padding-right:2px;
	font-weight:normal;
	font-size:22px;
	vertical-align:middle;
}

span {
	cursor:pointer;
}

span.mobile {
	display:none;
}

span b {
	clear:both;
	background:white;
	float:left;
	padding:2px;
}


.nav.right b {
	float:right;
}

span date {
	color:#ccc;
}

.desktop span:hover b {
	background:black;
	color:white;
}

.desktop span a:hover {
	background:black;
	color:white;
}


/* Full Page Sections
/* ======================*/

/* Set-up
-------------------------*/
.section{
	background-size: cover;
}
.slide{
	background-size: cover;
	text-align: center;
	padding: 64px;
}

/*Central Section && Slides
* --------------------------------------- */
#section0{
}
.slide.central.families{
	background-image: url(../img/bg/central-families.jpg);
}
.slide.central.prayer{
	background-image: url(../img/bg/all-prayer.jpg);
}
.slide.central.production{
	background-image: url(../img/bg/central-production.jpg);
}
.slide.central.tech{
	background-image: url(../img/bg/central-tech.jpg);
}
.slide.central.worship{
	background-image: url(../img/bg/central-worship.jpg);
}
.slide.central.welcome{
	background-image: url(../img/bg/central-welcome.jpg);
}
/*East Section && Slides
* --------------------------------------- */
#section1{
}
.slide.east.families{
	background-image: url(../img/bg/east-families.jpg);
}
.slide.east.prayer{
	background-image: url(../img/bg/all-prayer.jpg);
}
.slide.east.production{
	background-image: url(../img/bg/east-production.jpg);
}
.slide.east.tech{
	background-image: url(../img/bg/east-tech.jpg);
}
.slide.east.worship{
	background-image: url(../img/bg/east-worship.jpg);
}
.slide.east.welcome{
	background-image: url(../img/bg/east-welcome.jpg);
}
/* Media Queries
/* ======================*/

/*
@media only screen and (max-device-width: 480px) {
	span.mobile{
		display:inline-block;
	}
	span{
		display:none;
	}
}
*/