/* Set-up
/* ======================*/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	overflow:hidden;
}
/* Typography
/* ======================*/
@font-face{ 
	font-family: 'londrina';
	src: url('../fonts/LondrinaSolid-Regular-webfont.eot');
	src: url('../fonts/LondrinaSolid-Regular-webfont.eot?iefix') format('eot'),
	     url('../fonts/LondrinaSolid-Regular-webfont.woff') format('woff'),
	     url('../fonts/LondrinaSolid-Regular-webfont.ttf') format('truetype'),
	     url('../fonts/LondrinaSolid-Regular-webfont.svg#webfont') format('svg');
}
body {
	font-family: 'londrina', Arial, sans-serif;
	color: #000;
	font-weight:bold;
	font-size:32px;
}
.nav a {
	color:black;
	text-decoration:none;
	background:white;
	padding:2px;
}
#header a {
	color: white;
	text-decoration: none;
}
#header a:hover {
	text-decoration: underline;
}
/*Team Colors
-------------------------*/
.familiesText {color: #ce684b;}
.prayerText {color: #00b1e8;}
.productionText {color: #0099a2;}
.techText {color: #88449d;}
.welcomeText {color: #fdc216;}
.worshipText {color: #e30083;}
.greenText {color: #38ab4a;}

/* Elements
/* ======================*/
a.imin {
	display: inline-block;
	padding: 8px 24px;
	text-decoration: none;
	color: white;
	font-weight: normal;
	border: 4px solid white;
}
a.imin:hover {
	border-color: #38ab4a;
	color: #38ab4a;
}

/* Nav
/* =============================*/
#hovers{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 10;
	pointer-events:none;
}
.nav {
	position:fixed;
	z-index:100;
	padding:5px;
}

.nav.top.dropdown{
	z-index:102;
}

.nav.left{
	left:0;
}

.nav.right{
	right:0;
}

.nav.top{
	top:0;
}

.nav.bottom{
	bottom:0;
}

.nav.top.dropdown a,
.nav.bottom.dropdown a{
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	float:left;
	clear:both;
	display:none;
}

.nav.top.right.dropdown a,
.nav.bottom.right.dropdown a {
	float: right;
}

.nav.top.dropdown:hover b{
/* 	background:#38ab4a; */
/* 	color:white; */
}

.nav.top.dropdown:hover a,
.nav.bottom.dropdown:hover a{
	display:inline-block;
	background:white;
	color:#000;
	opacity:1;
}

.nav.top.dropdown a:hover,
.nav.bottom.dropdown a:hover {
	color:white;
/* 	background:#38ab4a; */
}
.nav.top.dropdown a.families:hover,
.nav.bottom.dropdown a.families:hover {
	color: #ce684b;
}
.nav.top.dropdown a.prayer:hover,
.nav.bottom.dropdown a.prayer:hover {
	color: #00b1e8;
}
.nav.top.dropdown a.tech:hover,
.nav.bottom.dropdown a.tech:hover {
	color: #88449d;
}
.nav.top.dropdown a.production:hover,
.nav.bottom.dropdown a.production:hover {
	color: #0099a2;
}
.nav.top.dropdown a.welcome:hover,
.nav.bottom.dropdown a.welcome:hover {
	color: #fdc216;
}
.nav.top.dropdown a.worship:hover,
.nav.bottom.dropdown a.worship:hover {
	color: #e30083;
}

.nav.top.left a:hover:after,
.nav.bottom.left a:hover:after {
	content: " << " attr(data);
	padding-right:2px;
	padding-left:4px;
	font-weight:normal;
	font-size:22px;
	vertical-align:middle;
}

.nav.top.right a:hover:before,
.nav.bottom.right a:hover:before {
	content: attr(data) " >> ";
	padding-right:2px;
	font-weight:normal;
	font-size:22px;
	vertical-align:middle;
}

span {
	cursor:pointer;
}

span.mobile {
	display:none;
}

span b {
	clear:both;
	background:white;
	float:left;
	padding:2px;
}


.nav.right b {
	float:right;
}

span date {
	color:#ccc;
}

.desktop span:hover b {
	background:black;
	color:white;
}

.desktop span a:hover {
	background:black;
	color:white;
}
/* Full Page Sections
/* =============================*/

/* Fixed header and footer.
* --------------------------------------- */
#header {
	position:fixed;
	height: 50px;
	display:block;
	width: 100%;
	background: #333;
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	padding: 20px 0 0 0;
}

#header{
	top:0px;
	color: white;
}
.fp-viewing-home #header{
	display: none;
}
.fp-viewing-families #header {background-color: #ce684b;}
.fp-viewing-prayer #header {background-color: #00b1e8;}
.fp-viewing-production #header {background-color: #0099a2;}
.fp-viewing-tech #header {background-color: #88449d;}
.fp-viewing-welcome #header {background-color: #fdc216;}
.fp-viewing-worship #header {background-color: #e30083;}
.fp-viewing-imin #header {background-color: #38ab4a;}
/* Set-up
-------------------------*/
.section{
	background-size: cover;
	text-align: center;
	padding: 0 20%;
}
.section h2 {}
.section p {}

/* The Sections
-------------------------*/
/* Home */
#section0 p {}

/* Families */
#section1 {
	background-image:url(../img/bg/Families_BG.jpg);
}
/* Prayer */
#section2 {
	background-image:url(../img/bg/Prayer_BG.jpg);
}
/* Production */
#section3 {
	background-image:url(../img/bg/Production_BG.jpg);
}
/* Tech */
#section4 {
	background-image:url(../img/bg/Tech_BG.jpg);
}
/* Welcome */
#section5 {
	background-image:url(../img/bg/Welcome_BG.jpg);
}
/* Worship */
#section6 {
	background-image:url(../img/bg/Worship_BG.jpg);
}
/* I'm In */
#section7 {
	background-color: #FFF;
}
.field {
  margin: 1em 0;
}

label {
/*
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #999999;
*/
}

input {
/*
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
*/
}

textarea {
  width: 100%;
  height: 200px;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 0.8em;
  background: #69c773;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/* Media Queries
/* ======================*/

/*
@media only screen and (max-device-width: 480px) {
	span.mobile{
		display:inline-block;
	}
	span{
		display:none;
	}
}
*/